In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [23]:
df = pd.read_csv('data/stud.csv')
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [24]:
x=df.drop('math_score',axis=1)
y=df['math_score']

In [25]:
num_feature = x.select_dtypes(exclude="object").columns
cat_feature = x.select_dtypes(include="object").columns
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

scaler = StandardScaler()
ohe = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder",ohe,cat_feature),
        ("StandardScaler",scaler,num_feature)
    ]
)

In [26]:
x=preprocessor.fit_transform(x)
print(x.shape)

(1000, 19)

In [27]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [28]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score,root_mean_squared_error
def evalution(true,predict):
    r2 = r2_score(true,predict)
    rmse = root_mean_squared_error(true,predict)
    mse = mean_squared_error(true,predict)
    mae = mean_absolute_error(true,predict)
    return r2,rmse,mse,mae

In [33]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from xgboost import XGBRegressor
from sklearn.neighbors import KNeighborsRegressor
models = {
    "Linear Regression":LinearRegression(),
    "Ridge":Ridge(),
    "Lasso":Lasso(),
    "Elastic Net":ElasticNet(),
    "XGB":XGBRegressor(),
    "KNN":KNeighborsRegressor(),
    "DT":DecisionTreeRegressor(),
    "Random Forest":RandomForestRegressor(),
    "AdaBoost":AdaBoostRegressor()
}

In [34]:
model_list=[]
r2_list=[]
for i in range(len(models)):
    model = list(models.values())[i]
    model.fit(x_train,y_train)
    y_train_pred = model.predict(x_train)
    y_test_pred = model.predict(x_test)
    model_train_r2,model_train_rmse,model_train_mse,model_train_mae =evalution(y_train,y_train_pred)
    model_test_r2,model_test_rmse,model_test_mse,model_test_mae =evalution(y_test,y_test_pred)
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 5.3231
- Mean Absolute Error: 4.2667
- R2 Score: 0.8743
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.3940
- Mean Absolute Error: 4.2148
- R2 Score: 0.8804
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 5.3233
- Mean Absolute Error: 4.2650
- R2 Score: 0.8743
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.3904
- Mean Absolute Error: 4.2111
- R2 Score: 0.8806
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 6.5938
- Mean Absolute Error: 5.2063
- R2 Score: 0.8071
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.5197
- Mean Absolute Error: 5.1579
- R2 Score: 0.8253
===================================


Elastic Net
Model performance for Training set
- Root Mean Squared Error: 7.7472
- Mean Absolute Error: 6.1701
- R2 Score: 0.7338
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 7.9599
- Mean Absolute Error: 6.3901
- R2 Score: 0.7396
===================================


XGB
Model performance for Training set
- Root Mean Squared Error: 1.0073
- Mean Absolute Error: 0.6875
- R2 Score: 0.9955
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.4733
- Mean Absolute Error: 5.0577
- R2 Score: 0.8278
===================================


KNN
Model performance for Training set
- Root Mean Squared Error: 5.7079
- Mean Absolute Error: 4.5168
- R2 Score: 0.8555
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 7.2530
- Mean Absolute Error: 5.6210
- R2 Score: 0.7838
===================================


DT
Model performance for Training set
- Root Mean Squared Error: 0.2795
- Mean Absolute Error: 0.0187
- R2 Score: 0.9997
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 7.9593
- Mean Absolute Error: 6.3000
- R2 Score: 0.7397
===================================


Random Forest
Model performance for Training set
- Root Mean Squared Error: 2.2981
- Mean Absolute Error: 1.8264
- R2 Score: 0.9766
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.0667
- Mean Absolute Error: 4.6492
- R2 Score: 0.8487
===================================


AdaBoost
Model performance for Training set
- Root Mean Squared Error: 5.8081
- Mean Absolute Error: 4.7667
- R2 Score: 0.8504
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.9579
- Mean Absolute Error: 4.6716
- R2 Score: 0.8541
===================================

In [35]:
pd.DataFrame(list(zip(model_list, r2_list)), columns=['Model Name', 'R2_Score']).sort_values(by=["R2_Score"],ascending=False)

          Model Name  R2_Score
1              Ridge  0.880593
0  Linear Regression  0.880433
8           AdaBoost  0.854129
7      Random Forest  0.848749
4                XGB  0.827797
2              Lasso  0.825320
5                KNN  0.783813
6                 DT  0.739663
3        Elastic Net  0.739624